{% extends 'base.html' %}

{% block title %}Partners Section{% endblock %}

{% block content %}

<!--Partners-->
<section class="container mb-10 sm:mb-20" id="partners">
    <div class="w-full mx-auto pt-12">
      <div class="text-center">
        <div>
          <h3 data-aos-duration="300" data-aos="fade-up" class="text-primary font-semibold fs-2 text-3xl my-3 sm:my-1 max-md:text-xl aos-init aos-animate">
            Meet Our Trusted Partners
          </h3>
          <br>
          <div class="flex justify-center flex-wrap gap-4 my-6">
            <a href="https://openai.com/" target="_blank" class="max-w-[200px]">
              <img
                data-aos="fade-up"
                data-aos-duration="300"
                data-aos-delay="200"
                src="static/openai.png"
                alt="OpenAI logo"
                class="w-full h-auto"
                width="300"
                height="200"
              />
            </a>
            <a href="https://www.nvidia.com/" target="_blank" class="max-w-[200px]">
              <img
                data-aos="fade-up"
                data-aos-duration="300"
                data-aos-delay="400"
                src="static/nividia.png"
                alt="NVIDIA logo"
                class="w-full h-auto"
                width="300"
                height="200"
              />
            </a>
            <a href="https://www.google.com/" target="_blank" class="max-w-[200px]">
              <img
                data-aos="fade-up"
                data-aos-duration="300"
                data-aos-delay="800"
                src="static/goo.png"
                alt="Google logo"
                class="w-full h-auto"
                width="300"
                height="200"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  

{% endblock %}